<h3><p class="text-success">Добро пожаловать на Кругозор.ру!</p></h3>
<p class="text-info">Это интернет-проект, предназначенный для расширения Вашего кругозора. Здесь вы всегда сможете с интересом и пользой провести свое свободное время. Мы решили использовать форму теста, которая, по нашему мнению, лучше всего удовлетворяет нашим целям: рассказать вам разные интересные вещи и делать это максимально увлекательно. Словом, попробуйте пройти пару тестов, и вы сами все поймете.</p>
<%= link_to "Перейти к тестам", { :controller => "main", :action => "tests" }, :class => "btn btn-primary" %>
